body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .navbar {
    overflow: hidden;
    background-color: #18361a;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 60px;
  }

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    height: 40px;
  }

  .navbar .logo img {
    height: 40px;
  }

  .navbar a:hover {
    background-color: #c7c73a;
  }

  .navbar .logo {
    float: left;
  }

  .navbar .login {
    float: right;
  }

  .navbar .register {
    float: right;
    margin-right: 20px;
  }

  .section {
    width: 100%;
    height: 150vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 24px;
  }

  .section1 {
    /*background-image: url('{% static "img/bg.jpg" %}');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    height: 100vh;

  }
  .section1::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    /* background-color: rgba(0, 128, 0, 0.5);  Adjust the opacity and color as desired */
    }
  
    .left, .right {
      flex: 1;
    }
  
    .left {
      background-color: #18361a;
      max-width: 550px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .content {
      text-align: center;
      color:white;
    }

    .content h1{
      font-size:50px;
    }

    .content p{
      font-size:20px;
    }
  
    .right {
      background-color: rgba(0, 128, 0, 0.5);
      background-image: url('{% static "img/bg1.jpg" %}');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .section2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 80px;
      flex-wrap: wrap;
    }
  
    .card {
      width: 300px; 
      height: 490px;
      background-color: white; 
      text-align: center;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    }
  
    .card img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  
    .description h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .description p {
      font-size: 14px;
      color: #666;
    }
    .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 80px;
    }
    
   

     
      footer {
        background-color: #18361a;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:40vh;
        color:#CCCCCC;
      }
    
      .footer-section {
        display: inline-block;
        text-align: left;
        margin-bottom: 20px;
      }
    
      .footer-section:last-child {
        margin-right: 0;
      }
    
      .footer-section h3 {
        margin-top: 0;
      }
    
      .footer-section p {
        margin-bottom: 10px;
      }
    
      .footer-section.opening-hours {
        text-align: left;
        margin-left:50px;
      }
    
      .footer-section.address {
        text-align: center;
      }
    
      .footer-section.follow-us {
        text-align: right;
        margin-right:100px;
      }
    
      .social-media-links a {
        display: inline-block;
        margin-right: 10px;
        color:#CCCCCC;
        text-decoration:none;
      }
      .social-media-links ul{
        list-style:none;
        margin-left:0;
        padding-left:0;
      }

      .section2 .card .description .btn {
        background-color:#18361a;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s ease;
        font-size:18px;
      }
      
      .section2 .card .description .btn:hover {
        background-color: darkgreen;
      }
      .section3 .card{
        height:520px;
      }
      .section3 .card a{
        color: #18361a;
        font-size: 18px;
      }
    
      .navbar a.active {
        background-color: #c7c73a;
      }