*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;

}
.container{
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
body{
  
  font-family: sans-serif;
}
.header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid hsla(0,0%,100%,0.2);
  z-index: 10;

}
.header .container{
  display:flex ;
  align-items: center;
  justify-content: space-between;
}
.header .logo img{
  vertical-align: middle;
  height: 65px;
}
.header .menu .head{
  display: none;
} 
.header .menu ul{
  list-style: none;
}
.header .menu > ul > li{
  display: inline-block;
}
.header .menu > ul > li:not(:last-child){
  margin-right: 40px;
}
.header .menu .dropdown{
  position: relative;
}
.header .menu a {
text-decoration: none;
text-transform: capitalize;
font-size: 16px;
color: hsl(0, 0%, 100%);
line-height: 1.5;
display: block;
transition: color 0.5s ease;
}

.header .menu a:hover {
color: hsl(0, 0%, 80%);
text-decoration: underline;
}

.header .menu > ul > li > a{
  padding: 24px 0;
}
.header .menu > ul > .dropdown > a{
  padding-right: 15px;

}
.header .menu i{
  font-size: 10px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: hsl(0, 0%, 100%);
  top:calc(50% - 5px)
}
.header .menu > ul > li > i{
  right: 0;
}
.header .menu .sub-menu{
  position: absolute;
  top: 100%;
  left: 0;
  width: 230px;
  padding: 15px 0;
  background-color:#0c0c1d;
  box-shadow: 0 0 5px hsla(0,0%,0%,0.5);
  z-index: 1;
  transform-origin: top;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
}
.header .menu .sub-menu-right{
  left: 100%;
  top: 0;

}
.header .menu li:hover > .sub-menu{
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: all 0.5s ease;
}
.header .menu .sub-menu a{
  padding: 6px 24px;
}
.header .menu .sub-menu span{
  background-image: linear-gradient(hsl(0, 0%, 100%),hsl(0, 0%, 100%));
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.5s ease;
}
.header .menu .sub-menu li:hover > a >span {
  background-size: 100% 1px;
}

.hero{
  min-height: 100vh;
  background-image: url('{% static "img/abt2.jpg"%}');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text h3.gift-real-estate,
.hero-text p.sub-heading {

font-size: 48px;
font-weight: bold;
color: #f2f3f5;
opacity: 0;
}

.hero-text h3.gift-real-estate {

animation: slide-in-h3 2s ease-in-out 3 both;
}

.hero-text p.sub-heading {

animation: slide-in-p 1.5s ease-in-out infinite;
}

@keyframes slide-in-h3 {
0% {
transform: translateX(-100%);
opacity: 0;
}
100% {
transform: translateX(0);
opacity: 1;
}
}

@keyframes slide-in-p {
0% {
transform: translateY(100%);
opacity: 0;
}
100% {
transform: translateY(0);
opacity: 1;
}
}




.section {
  padding: 80px 0;
  text-align: center;
  
}

.section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
}




@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}



.property {
width: 100%;
padding: 10rem 8rem;
margin-top: 5rem;
background-color: #fff;
}

.property .prop-h {
width: 100%;
max-width: 60rem;
margin: 0 auto;
}

.property .prop-h h2 {
font-size: 4rem;
text-align: center;
}


.prop-h h1{
display: flex;
align-items: center;
justify-content: center;
font-size: 55px;
margin-bottom: 30px;
}

.prop-h h1 span{
color: #c7c73a;
margin-left: 15px;
font-family: mv boli;
}

.prop-h h1 span::after{
content: '';
width: 100%;
height: 2px;
background:  #c7c73a;
display: block;
position: relative;
bottom: 15px;
}

.property .prop-h p {
font-size: 1.3rem;
color: #333;
line-height: 1.5;
text-align: center;
margin: 2rem 0;
}


.property .de-box {
margin-top: 4rem;
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 4rem;
}


.property .de-box .box {
width: 100%;
height: 42rem;
background: var(--white);
border-radius: 1.2rem;
overflow: hidden;
position: relative;
}

.property .de-box .box .image {
width: 100%;
height: 26rem;
overflow: hidden;
position: relative;
}

.property .de-box .box .image::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.3);
opacity: 0;
transition: opacity 0.5s ease;
}

.property .de-box .box .image:hover::before {
opacity: 1;
}

.property .de-box .box .image img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}
.property .de-box .box .price-name {
padding: 2rem;
border-bottom: 1px solid #b0b0b04d;
}

.property .de-box .box .price-name h4 {
font-size: 2rem;
color: #c7c73a;
margin-bottom: .8rem;


}

.property .de-box .box .price-name p {
font-size: 1.4rem;
font-weight: 500;
}

.property .de-box .box .location-detail {
padding: 1rem 2rem;
}

.property .de-box .box .location-detail p {
font-size: 1.3rem;
font-weight: 500;
}

.property .de-box .box .location-detail p img {
width: 20px;
vertical-align: middle;
}

.property .de-box .box .location-detail .detail {
width: 100%;
}

.property .de-box .box .location-detail .detail ul {
width: 85%;
display: flex;
justify-content: space-between;
position: absolute;
bottom: 1rem;
}

.property .de-box .box .location-detail .detail ul li {
list-style: none;
font-size: 1.2rem;
font-weight: 500;
}

.property .de-box .box .location-detail .detail ul li img {
width: 18px;
margin-right: 1rem;
}

@media (max-width: 1050px) {

.property {
padding: 10rem 4rem;
}

.property .de-box {
gap: 2rem;
}

.property .de-box .box .image {
height: 38vh;
}

}



@media (max-width: 780px) {



@keyframes navigation {
0% {
transform: translate(0, -90rem);
}

100% {
transform: translate(0, 0);
}
}



.property .de-box {
grid-template-columns: 1fr 1fr;
}


}

@media (max-width: 450px) {

.property .de-box .box {
height: 60vh;
}

.property .de-box {
grid-template-columns: 1fr;
}
}


.team{
width: 100%;
height: 90vh;
background-image: url(image/bg1.jpg);
background-size: cover;
background-position: center;
}

.team h1{
display: flex;
align-items: center;
justify-content: center;
font-size: 55px;
margin-bottom: 30px;
}

.team h1 span{
color:  #c7c73a;
margin-left: 15px;
font-family: mv boli;
}

.team h1 span::after{
content: '';
width: 100%;
height: 2px;
background:  #c7c73a;
display: block;
position: relative;
bottom: 15px;
}

.team .team_box{
width: 95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
position: relative;
top: 13%;
}

.team .team_box .profile{
width: 320px;
height: 320px;
border-radius: 50%;
margin: 0 15px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
box-shadow: 0 0 8px rgba(0,0,0,0.5);
transition: 0.4s;
}

.team .team_box .profile:hover{
border-radius: 20px;
height: 320px;
}

.team .team_box .profile img{
width: 250px;
height: 250px;
object-fit: cover;
object-position: center;
border-radius: 50%;
cursor: pointer;
box-shadow: 0 0 8px rgba(0,0,0,0.5);
z-index: 2;
transition: 0.4s;
}

.team .team_box .profile:hover img{
border-radius: 20px;
margin-top: -230px;
}

.team .team_box .profile .info{
position: absolute;
text-align: center;
top: 25%;
transition: 0.4s;
}

.team .team_box .profile:hover .info{
top: 60%;
}

.team .team_box .profile .info .name{
color: #c7c73a;
margin-bottom: 15px;
}

.team .team_box .profile .info .bio{
width: 70%;
text-align: center;
margin: 0 auto 10px auto;
}

.team .team_box .profile .info .team_icon i{
margin: 10px 5px 5px 0;
cursor: pointer;
transition: 0.3s;
}

.team .team_box .profile .info .team_icon i:hover{
color: #c7c73a;
}