body {
  margin: 0;
 
}

.container {
  display: flex;
  background-color: #f8f8f8;
}


.navbar {
  position: sticky;
  top: 0;
  background-color: #18361a; 
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-name {
  font-weight: bold;
  color: #c7c73a;

}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #c7c73a;
}

.profile-info {
  display: flex;
  flex-direction: column;
  color: #c7c73a;

}


.sidebar {
  width: 200px;
  background: #18361a;
  padding: 20px;
  color: #ffffff;
  overflow-y: auto;
}

.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #c7c73a;
}

.sidebar .profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebar .profile-info .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;

}

.sidebar .profile-info .email {
  font-size: 14px;
  color: #fcfcf2;

}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top:50px;
  margin-left: 20px;
}

.sidebar li {
  margin-bottom: 30px;
  
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar a:hover {
  color: #c7c73a;
}

.sidebar .active {
  font-weight: bold;
}

.white-div {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  flex-grow: 1;
  max-width: 1000px;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 20px; 
}



.white-div h3 {
  font-size: 20px;
  font-weight: bold;
}

.search-form {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: 2px solid #18361a;
  border-radius: 5px 0 0 5px;
  margin-right: -2px;
  font-size: 14px;
  width: 30%; 
}

.search-btn {
  background-color: #18361a;
  color: #ffffff;
  padding: 8px 16px;
  border: 2px solid #18361a;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
  width: 10%;
}
table {
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
}
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

.add-property-btn {
  background-color: #18361a;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

 