{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/property_listing.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    /* Form container */
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top:80px;
    }
    
    /* Form labels */
    .form-container label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    /* Form input fields */
    .form-container input,
    .form-container select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }
    
    /* Error messages */
    .form-container .errors {
        color: red;
        margin-top: -8px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    
    /* Submit button */
    .form-container button[type="submit"] {
        background-color: #c7c73a;
        color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }
    
    
    /* Married fields */
    .married-fields {
        display: none;
    }
    
</style>

</head>
<body>

<header class="header">
    <nav class="nav container">
       <div class="nav__data">
          
          <a href="/" class="nav__logo">
           <img src="{% static 'img/logo.png' %}" alt="logo" >
          </a>
          
          <div class="nav__toggle" id="nav-toggle">
             <i class="ri-menu-line nav__burger"></i>
             <i class="ri-close-line nav__close"></i>
          </div>

       </div>

       
       <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
             <li><a href="/" class="nav__link">Home</a></li>
             <li><a href="{% url 'property_listing' email=email %}" class="nav__link">listing</a></li>
             <li><a href="{% url 'my_property' email=email %}" class="nav__link">my property</a></li>
             <li><a href="/salespersons" class="nav__link">salesperson</a></li>
            
             <li><a href="{% url 'contact_us' %}" class="nav__link">feedback</a></li>
             <li><a href="{% url 'about' %}" class="nav__link">About</a></li>
             

              

             
          </ul>
       </div>
    </nav>
</header>

  
  <div class="form-container">
    
    <form id="myForm" method="POST" action="{% url 'application_for_sale' property_id=property.id email=email %}">
        
     
    
      {% csrf_token %}
    <input type="hidden" name="property" value="{{ property.id }}">
    <input type="hidden" name="email" value="{{ email }}">

    <div>
        <label for="{{ form.first_name.id_for_label }}">First Name:</label>
        {{ form.first_name }}
        {% if form.first_name.errors %}
            <ul class="errorlist">
                {% for error in form.first_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.middle_name.id_for_label }}">Middle Name:</label>
        {{ form.middle_name }}
        {% if form.middle_name.errors %}
            <ul class="errorlist">
                {% for error in form.middle_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
  
    <div>
      <label for="{{ form.last_name.id_for_label }}" >Last Name:</label>
      {{ form.last_name }}
      {% if form.last_name.errors %}
          <ul class="errorlist">
              {% for error in form.last_name.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>

    <div>
          <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
          {{ form.phone_number }}
          {% if form.phone_number.errors %}
              <ul class="errorlist">
                  {% for error in form.phone_number.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
    </div>
  
    <div>
          <label for="{{ form.nationality.id_for_label }}">Nationality:</label>
          {{ form.nationality }}
          {% if form.nationality.errors %}
              <ul class="errorlist">
                  {% for error in form.nationality.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
   </div>
  
   <div>
          <label for="{{ form.city.id_for_label }}">City:</label>
          {{ form.city }}
          {% if form.city.errors %}
              <ul class="errorlist">
                  {% for error in form.city.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
    </div>
  
    <div>
          <label for="{{ form.sub_city.id_for_label }}">Sub City:</label>
          {{ form.sub_city }}
          {% if form.sub_city.errors %}
              <ul class="errorlist">
                  {% for error in form.sub_city.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
    </div>
  
    <div>
          <label for="{{ form.kebele.id_for_label }}">Kebele:</label>
          {{ form.kebele }}
          {% if form.kebele.errors %}
              <ul class="errorlist">
                  {% for error in form.kebele.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
    </div>
  
    <div>
          <label for="{{ form.work_status.id_for_label }}">Work Status:</label>
          {{ form.work_status }}
          {% if form.work_status.errors %}
              <ul class="errorlist">
                  {% for error in form.work_status.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
    </div>
  
    <div>
          <label for="{{ form.gender.id_for_label }}">Gender:</label>
          {{ form.gender }}
          {% if form.gender.errors %}
              <ul class="errorlist">
                  {% for error in form.gender.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
    </div>
      
    <div>
        <label for="{{ form.marital_status.id_for_label }}">Marital Status:</label>
        {{ form.marital_status }}
        {% if form.marital_status.errors %}
        <ul class="errorlist">
          {% for error in form.marital_status.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
    </div>
    
    <div id="partner-fields-container">
        {% if form.marital_status.value == 'Married' %}
          <div>
            <label for="{{ form.partner_first_name.id_for_label }}">Partner First Name:</label>
            {{ form.partner_first_name }}
            {% if form.partner_first_name.errors %}
            <ul class="errorlist">
              {% for error in form.partner_first_name.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
      </div>
    
      <div>
            <label for="{{ form.partner_last_name.id_for_label }}">Partner Last Name:</label>
            {{ form.partner_last_name }}
            {% if form.partner_last_name.errors %}
            <ul class="errorlist">
              {% for error in form.partner_last_name.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
      </div>
    
      <div>
            <label for="{{ form.partner_phone_number.id_for_label }}">Partner Phone Number:</label>
            {{ form.partner_phone_number }}
            {% if form.partner_phone_number.errors %}
            <ul class="errorlist">
              {% for error in form.partner_phone_number.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
      </div>
    
      <div>
            <label for="{{ form.partner_work_status.id_for_label }}">Partner Work Status:</label>
            {{ form.partner_work_status }}
            {% if form.partner_work_status.errors %}
            <ul class="errorlist">
              {% for error in form.partner_work_status.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        {% endif %}
      </div>
  
      
      <button type="submit">Submit</button>
    </form>
  </div>

  
  <footer class="footer" style="margin-top:30%">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Opening Hours</h3>
                <p>Monday - Friday: 8:00AM-5:00PM</p>
                <p>Saturday: 8:00AM-12:00PM</p>
            </div>
            <div class="footer-section">
                <h3>Address</h3>
                <p>Behar Building, 9th floor, Africa Avenue,</p>
                <p>Addis Ababa, Ethiopia</p>
                <p>Tel: +251-114670669</p>
                <p>Fax: +251-114652154</p>
            </div>
            <div class="footer-section">
                <h3>Follow Us</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/giftatofficial/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FGIFTBusinessG"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/@GIFTBusinessGroup"><i class="fab fa-youtube"></i></a>
                    <a href="https://t.me/giftbusinessgroup"><i class="fab fa-telegram"></i></a>
                </div>
            </div>
        </div>
        
    </div>
  </footer>

  <script>
    // Get the marital status select element
    var maritalStatusSelect = document.getElementById('id_marital_status');
  
    // Get the partner-related field containers
    var partnerFieldsContainer = document.getElementById('partner-fields-container');
  
    // Hide the partner-related fields initially
    partnerFieldsContainer.style.display = 'none';
  
    // Add an event listener to the marital status select element
    maritalStatusSelect.addEventListener('change', function() {
      // Check the selected value of the marital status
      if (maritalStatusSelect.value === 'Married') {
        // If the selected value is 'Married', display the partner-related fields
        partnerFieldsContainer.style.display = 'block';
      } else {
        // Otherwise, hide the partner-related fields
        partnerFieldsContainer.style.display = 'none';
      }
    });
  </script>

</body>
</html>

