{% load static %}

<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body>
 

  <footer>
    {% block footer %}
    <div class="footer-section opening-hours">
      <h1>Opening Hours</h1>
      <p>Monday - Friday: 8:00AM-5:00PM</p>
      <p>Saturday: 8:00AM-12:00PM</p>
    </div>
    <div class="footer-section address">
      <h1>Address</h1>
      <p>Behar Building, 9th floor, Africa Avenue,</p>
      <p>Addis Ababa, Ethiopia</p>
      <p>Tel: +251-114670669</p>
      <p>Fax: +251-114652154</p>
    </div>
    <div class="footer-section follow-us">
      <h1>Follow Us</h1>
      <div class="social-media-links">
        <ul>
          <li><a href="https://www.facebook.com/giftatofficial/"><img src="{% static 'img/FB.png' %}" alt="Facebook" style="height:28px"></a></li>
          <li><a href="https://www.youtube.com/@GIFTBusinessGroup"><img src="{% static 'img/YOUTUBE.png' %}" alt="Youtube" style="height:22px"></a></li>
          <li><a href="https://t.me/giftbusinessgroup"><img src="{% static 'img/TG.png' %}" alt="Telegram" style="height:22px"></a></li>
          <li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2FGIFTBusinessG"><img src="{% static 'img/TW.png' %}" alt="Twitter" style="height:22px"></a></li>
        </ul>
      </div>
    </div>
    {% endblock %}
  </footer>
</body>
</html>