<form name="contactForm" method="post" action="{% url 'contact' %}" onsubmit="return validateForm()" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="subject">Subject:</label>
  <input type="text" id="subject" name="subject" required>
  <div id="subjectError" class="error"></div>
  
  <label for="message">Message:</label>
  <textarea id="message" name="message" required></textarea>
  <div id="messageError" class="error"></div>

  <label for="myfile">Files:</label>
  <input type="file" id="myfile" name="myfile" required multiple>
  
  <input type="submit" value="Submit">
</form>