{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/marketing_manager.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/system_admin.css' %}">


    
<style>
 
.active {
      color: green;
      font-weight: bold;
    }
    .inactive {
      color: red;
      text-decoration: line-through;
    }
 
    </style>
</head>
<body>
    
        <section id="menu">
            
           <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
           </div>
          

          <div class="items">
           
                <li><i class="fa fa-chart-pie-alt"></i><a href="#">Dashboard</a></li>
                <li><i class="fas fa-users"></i><a href="{% url 'system_admin'%}">Employees</a></li>
                <li><i class="fas fa-users"></i><a href="{% url 'customer'%}">Customers</a></li>
                <li><i class="fa-solid fa-user-plus"></i> <a href="{% url 'add_employee' %}">Add Employees</a></li>
                
                <li hidden><i class="fa-solid fa-message"></i><a href="https://dashboard.tawk.to/?lang=en#/chat">Message</a></li>

                <li><i class="fas fa-right-from-bracket"></i><a href="/">Logout</a></li>
               
                
          </div>
         
        </section>

        
      <section id="interface"> 
            <div class="navigation"> 
                <div class="n1">

                    <div>
                        <i id="menu-btn" class="fa-fa-bars"></i>
                    </div>


                   
               </div>
               {% if admin_profile %}
               <div class="profile">
                  
                  <img src="{{ admin_profile.img.url }}" alt="">
                  <p style="font-size:13px">  &nbsp {{ admin_profile.first_name }} {{admin_profile.last_name }}
                    <br> &nbsp {{ admin_profile.email }} </p>
              </div>
              {% endif %}
              
            </div>

            
        <h3 class="i-name"> 
            Dashboard
        </h3>
.
        <div class="values">
          <div class="val-box">
            <i class="fas fa-users"></i>
            <div>
                <a href="{% url 'system_admin'%}"><h3>Total Employees</h3><a/>
               <span>{{total_employees}}</span>
            </div>
          </div>

            <div class="val-box">
                <i class="fas fa-users"></i>
                <div>
                    <a href="{% url 'customer'%}"><h3>Total Customers</h3></a>

                    <span>{{total_customers}}</span>
                </div>
            </div>

          
        </div>

        
        

        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Address</td>
                        <td>phone number</td>
                       
                    </tr>
                </thead>

                <tbody>
                    {% for employee in customer %}
                    {% if employee.role == 'customer'%}
                  <tr>

                    
                    <td class="people">
                        
                        <div class="people-de">
                            
                         
                            <img src="{% static 'img/User_Avatar.png' %}" alt="Logo">
                            <h5>{{ employee.first_name }} {{ employee.last_name }}</h5>
                            <p>{{ employee.email }}</p>
                        </div>
                    </td>

                    <td class="people-des">
                            <h5>{{ employee.address }}</h5>
                            
                    </td>

                  

                    <td class="role">
                        <p>{{ employee.phone_number}}</p>
                    </td>

                   
                  </tr>
                  
                  {% endif %}
                  {% empty %}
                  <tr>
                    <td colspan="7">No employees found.</td>
                  </tr>

                   {% endfor %}

                 
                 

                </tbody>

            </table>

        </div>

       

      </section>
        
</body>
</html>



