{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/marketing_manager.css' %}">
 
 
   
</head>
<body>
    
        <section id="menu">
            {% if marketing_manager_profile %}
           <div class="logo">
              <img src="{% static 'img/logo.png' %}" alt="">
              
           </div>
           {% endif %}

           <div class="items">
            
            <li><i class="fa fa-chart-pie-alt"></i><a href="#">Dashboard</a></li>
            <li><i class="fab fa-uikit"></i><a href="{% url 'mrk_mng' %}">Properties</a></li>
            <li><i class="fas fa-plus"></i><a href="{% url 'add_property' %}">Add Residential Property</a></li>
            <li><i class="fas fa-plus"></i><a href="{% url 'add_rent_property' %}">Add Commercial Property</a></li>
    
            <li><i class="fas fa-th-large"></i><a href="{% url 'mng' %}">Appliation for sale</a></li>
            <li><i class="fas fa-th-large"></i><a href="{% url 'mng_rent' %}">Appliation for rent</a></li>
            <li><i class="fas fa-edit"></i></i><a href="#">Report</a></li>
            <li><i class="fa-solid fa-comments"></i><a href="{% url 'feedback' %}">Feedback</a></li>
    
            <li><i class="fas fa-user"></i></i><a href="{% url 'profile_view' %}">Update Profile</a></li>
            <li><i class="fa-solid fa-lock"></i><a href="#">Change Password</a></li>
            <li><i class="fas fa-right-from-bracket"></i><a href="/">Logout</a></li>
           
            
           </div>
        </section>

        
      <section id="interface"> 
            <div class="navigation"> 
                <div class="n1">

                    <div>
                        <i id="menu-btn" class="fa-fa-bars"></i>
                    </div>


                   
               </div>
               {% if marketing_manager_profile %}
               <div class="profile">
                  
                <img src="{{ marketing_manager_profile.img.url }}" alt="">
                <p style="font-size:13px">  &nbsp {{ marketing_manager_profile.first_name }} {{ marketing_manager_profile.last_name }}
                <br> &nbsp {{ marketing_manager_profile.email }} </p>
              </div>
              {% endif %}
            </div>

            
        <h3 class="i-name"> 
            Dashboard
        </h3>
.
     
        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Subject</td>
                        <td>Messages</td>
                        
                    </tr>
                </thead>

                <tbody>
                    {% for x in feedback %}
                  <tr>

                    
                    <td class="people">
                        
                        <div class="people-de">
                            <p>{{x.name}} {{x.last_name}}</p>
                          
                        </div>
                    </td>

                    <td class="people-des">
                            <p>{{ x.email}}</p>
                         
                    </td>

                    <td class="active">
                        <p>{{ x.subject}}</p>
                    </td>

                    <td class="role">
                        <p>
                            <p>{{ x.message}}</p> 
                        </p>
                    </td>

                  </tr>
                   {% endfor %}

                 
                 

                </tbody>

            </table>

        </div>

       

      </section>

   
        
</body>
</html>