{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/marketing_manager.css' %}">
 
 
   
</head>
<body>
    
        <section id="menu">
            {% if marketing_manager_profile %}
           <div class="logo">
              <img src="{% static 'img/logo.png' %}" alt="">
              
           </div>
           {% endif %}

          <div class="items">
            
                <li><i class="fa fa-chart-pie-alt"></i><a href="#">Dashboard</a></li>
                <li><i class="fab fa-uikit"></i><a href="{% url 'mrk_mng' %}">Properties</a></li>
                <li><i class="fas fa-plus"></i><a href="{% url 'add_property' %}">Add Property</a></li>
                <li><i class="fas fa-th-large"></i><a href="{% url 'mng' %}">Appliation for sale</a></li>
                <li><i class="fas fa-th-large"></i><a href="{% url 'mng_rent' %}">Appliation for rent</a></li>
                <li><i class="fas fa-edit"></i></i><a href="#">Report</a></li>
                <li><i class="fas fa-user"></i></i><a href="{% url 'profile_view' %}">Profile</a></li>
                <li><i class="fa-solid fa-lock"></i><a href="#">Change Password</a></li>
                <li><i class="fas fa-right-from-bracket"></i><a href="/">Logout</a></li>
               
                
          </div>
         
        </section>

        
      <section id="interface"> 
            <div class="navigation"> 
                <div class="n1">

                    <div>
                        <i id="menu-btn" class="fa-fa-bars"></i>
                    </div>


                   
               </div>
               {% if marketing_manager_profile %}
               <div class="profile">
                  
                  <img src="{{ marketing_manager_profile.img.url }}" alt="">
              </div>
              {% endif %}
            </div>

            
        <h3 class="i-name"> 
            Dashboard
        </h3>
.
        <div class="values">
            <div class="val-box">
                <i class="fa-solid fa-house-chimney"></i>
                <div>
                    <a href="{% url 'mrk_mng' %}"><h3>{{ total_properties }}</h3></a>
                   <span>total_properties</span>
                </div>
            </div>

            <div class="val-box for-sale">
                <i class="fa-solid fa-house-chimney"></i>
                <div>
                    <a href="{% url 'forsale' %}"><h3>For sale</h3></a>
                   <span>{{ sale_properties }}</span>
                </div>
            </div>

            <div class="val-box">
             
                <i class="fa-solid fa-house-chimney"></i>
                <div>
                    <a href="{% url 'forent' %}"> <h3>For rent</h3></a> 
                   <span>{{ rent_properties }}</span>
                </div>
            </div>

        </div>

        
        <div class="values">
            <div class="val-box">
                <i class="fa-solid fa-house-circle-check"></i>
                <div>
                <a href="{% url 'soled' %}"><h3>{{ soled_properties }}</h3></a>
                   <span>Soled</span>
                </div>
            </div>

            <div class="val-box">
                <i class="fa-solid fa-house-circle-check"></i>
                <div>
                    <a href="{% url 'rented' %}"><h3>Rented</h3></a>
                   <span>{{rented_properties}}</span>
                </div>
            </div>

            
        </div>



        
        <div class="board">
            <table width="100%" class="for-sale-table">
                <thead>
                    <tr>
                        <td>Type</td>
                        <td>Address</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for x in all_info %}
                    {% if x.status == 'For Rent' %}
                    <tr>
                        <td class="people">
                            <img src="{{ x.image.url }}">
                            <div class="people-de">
                                <h5>{{ x.propertyType }}</h5>
                                <p>id {{ x.id }}</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>{{ x.city }}</h5>
                            <p>{{ x.area }}</p>
                        </td>
                        <td class="active">
                            <p>{{ x.status }}</p>
                        </td>
                        <td class="role">
                            <p>
                                <a href="{% url 'update_property' property_id=x.id %}"><i class="fa-solid fa-pen-to-square" style="color: #787d8d;"></i></a>
                                <a href="{% url 'property_detail' property_id=x.id %}"><i class="fa-solid fa-eye" style="color: #787d8d;"></i></a>
                            </p>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>





       

      </section>

  
        
</body>
</html>