{% load static %}

<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
      <style>
  .navbar a.active {
    background-color: #c7c73a;
  }
</style>
</head>

<body>
  <div class="navbar">
    <a href="/" class="logo" class="active"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
    <a href="/" class="active" >Home</a>
    <a href="/property_listing" >Listing</a>
    <a href="/salespersons">Sales Person</a>
    <a href="{% url 'contact_us' %}">Contact</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'registration_view' %}"  class="login">Register</a>
    <a href="{% url 'login' %}"  class="login">Login</a>
  </div>
  
  
  <div class="section1">
    <div class="left">
      <div class="content">
      {% block content %}
            <h1>GIFT Real Estate</h1>
            <p>WE BUILD COMMUNITY!</P>
      {% endblock content %}
      </div>
    </div>
    <div class="right" style="background-image: url('{% static "img/bg1.jpg" %}');"></div>
  </div>




  <div class="section">
    <div class="section2">
      {% for property in properties|slice:":4" %}
        <div class="card">
          <img src="{{ property.image.url }}" alt="Card" style="height: 310px">
          <div class="description">
            <h2>{{ property.area }} {{ property.bedrooms }} Bedrooms {{ property.propertyType }}</h2>
            <p>Bedrooms: {{ property.bedrooms }} Bathrooms: {{ property.bathrooms }} Area: {{ property.size }} Sq.mt</p>
            <a href="{% url 'property_detail' property.id %}" class="btn">details</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


  
  
</div>



  </div>
  
  <div class="section">
     
    <div class="section3">
      <h1 style="text-align: center;">Meet Our Salesperson</h1>
      <div class="card-container">
       

        {% for salesperson in salespersons|slice:":4" %}
    <div class="card">
        <img src="{{ salesperson.img.url }}" alt="{{ salesperson.first_name }}" style="height:430px">
        <div class="description">
            <h2>{{ salesperson.first_name }} {{ salesperson.last_name }}</h2>
            <p><a href="{% url 'salesperson_profile' salesperson.id %}" class="profile-btn">View Profile</a></p>
        </div>
    </div>
        {% endfor %}



        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-section opening-hours">
      <h1>Opening Hours</h1>
      <p>Monday - Friday: 8:00AM-5:00PM</p>
      <p>Saturday: 8:00AM-12:00PM</p>
    </div>
    <div class="footer-section address">
      <h1>Address</h1>
      <p>Behar Building, 9th floor, Africa Avenue,</p>
      <p>Addis Ababa, Ethiopia</p>
      <p>Tel: +251-114670669</p>
      <p>Fax: +251-114652154</p>
    </div>
    <div class="footer-section follow-us">
      <h1>Follow Us</h1>
      <div class="social-media-links">
        <ul>
        
          <a href="https://www.facebook.com/giftatofficial/"><img src="{% static 'img/FB.png' %}" alt="Facebook" style="height:28px"></a>    
          <a href="https://www.youtube.com/@GIFTBusinessGroup"><img src="{% static 'img/YOUTUBE.png' %}" alt="Youtube" style="height:22px"></a>   
          <a href="https://t.me/giftbusinessgroup"><img src="{% static 'img/TG.png' %}" alt="Telegram" style="height:22px"></a> 
          <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FGIFTBusinessG"><img src="{% static 'img/TW.png' %}" alt="Twitter" style="height:22px"></a> 
        
      </ul>
      </div>
    </div>
    
  </footer>
</body>
</html>