{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Real-Estate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

    <style>

        .hero{
            min-height: 100vh;
            background-image: url('{% static "img/abt2.jpg"%}');
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }
      

    </style>


</head>



<body>
      <header class="header">
        <div class="container">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </div>
            <nav class="menu">
                <div class="head">
                    <div class="logo"><img src="img/logo.png" alt="logo"></div>
                    <button type="button" class="close-menu-btn"></button>
                   
                </div>
                <ul>

                 

                    <li><a href="/">home</a></li>
                    <li><a href="/salespersons">salesperson</a></li>

                    <li><a href="{% url 'contact_us' %}">feedback</a></li>
                    <li><a href="{% url 'about' %}">about</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>

                    

                        </ul>
                    </li>

                </ul>
            </nav>
            
      
       

    </div>

      </header>
    
      <section class="hero">
      
        <div class="hero-text">
            <h3 class="gift-real-estate">Gift Real Estate</h3>
            <p class="sub-heading">WE BUILD COMMUNITY!</p>
          
        </div>
            
      </section>


   
    <div class="property">

        <div class="prop-h">
            <h1>Our<span>property</span></h1>  
        </div>

             
        <div class="de-box">
          {% for property in properties|slice:":6" %}
            <div class="box">
                <div class="image">
                    <a href="{% url 'login' %}"><img src="{{ property.image.url }}" alt=""></a>
                  </div>
                <div class="price-name">
                    <h4>{{ property.price }} birr</h4>
                    <p>{{ property.propertyType }} apartment
                      &nbsp  <a href="{% url 'login' %}">detail</a>
                    </p>
                </div>
                <div class="location-detail">
                    <p><img src="{% static 'img/icons8-location-50.png ' %}" alt=""> {{ property.area }}, {{ property.city }}</p>
                    <div class="detail">
                        <ul>
                            <li style=" list-style: none;"><img src="{% static 'img/icons8-bed-50.png' %}" alt=""> {{ property.bedrooms }} <br>bed</li> 
                            <li ><img src="{% static 'img/icons8-bath-50.png' %}" alt="">{{ property.bathrooms }}<br> bath</li>
                            <li><i class="fa-solid fa-landmark" style="color: #0a0a0a;"></i> {{ property.size }} <br>m sq</li>
                           
                        </ul>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>

       
    </div>

    <div class="team">
        <h1>Our<span>salespersons</span></h1>

        <div class="team_box">
          {% for salesperson in salespersons|slice:":4" %}
            <div class="profile">
                <img src="{{ salesperson.img.url }}">

                <div class="info">
                    <h2 class="name">{{ salesperson.first_name }} {{ salesperson.last_name }}</h2>
                    <p class="bio">salesperson</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>

                </div>

            </div>
          {% endfor %}
          
          
        </div>

    </div>

 

   
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>Opening Hours</h3>
                    <p>Monday - Friday: 8:00AM-5:00PM</p>
                    <p>Saturday: 8:00AM-12:00PM</p>
                </div>
                <div class="footer-section">
                    <h3>Address</h3>
                    <p>Behar Building, 9th floor, Africa Avenue,</p>
                    <p>Addis Ababa, Ethiopia</p>
                    <p>Tel: +251-114670669</p>
                    <p>Fax: +251-114652154</p>
                </div>
                <div class="footer-section">
                    <h3>Follow Us</h3>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/giftatofficial/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FGIFTBusinessG"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/@GIFTBusinessGroup"><i class="fab fa-youtube"></i></a>
                        <a href="https://t.me/giftbusinessgroup"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>


</body>

</html>





