{% load static %}

<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body>
  <div class="navbar">
    <a href="#home" class="logo"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
    <a href="#home" class="home">Home</a>
    <a href="/property_listing">Listing</a>
    <a href="/salespersons">Sales Person</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="#about">About</a>
    <a href="#help">Help</a>
    <a href="{% url 'registration_view' %}"  class="login">Register</a>
    <a href="{% url 'login' %}"  class="login">Login</a>
  </div>
  
  
  <div class="section1">
    <div class="left">
      <div class="content">
      {% block content %}
            <h1>GIFT Real Estate</h1>
            <p>WE BUILD COMMUNITY!</P>
      {% endblock content %}
      </div>
    </div>
    <div class="right" style="background-image: url('{% static "img/bg1.jpg" %}');"></div>
  </div>




  <div class="section">
    <div class="section2">
      <div class="card">
        <img src="{{ properties.0.image.url }}" alt="Card 1" style="height:310px">
        <div class="description">
          <h2>{{ properties.0.area }} {{ properties.0.bedrooms }} Bedrooms {{ properties.0.propertyType }}</h2>
          <p>Bedrooms:{{ properties.0.bedrooms }}  Bathrooms:{{ properties.0.bathrooms }}  Area: {{ properties.0.size }} Sq.mt</p>
          <a href="#" class="btn">details</a>
        </div>
      </div>
 <div class="card">
  <img src="{{ properties.1.image.url }}" alt="Card 1" style="height:310px">
  <div class="description">
    <h2>{{ properties.1.area }} {{ properties.1.bedrooms }} Bedrooms {{ properties.1.propertyType }}</h2>
    <p>Bedrooms:{{ properties.1.bedrooms }}  Bathrooms:{{ properties.1.bathrooms }}  Area: {{ properties.1.size }} Sq.mt</p>
    <a href="#" class="btn">details</a>
  </div>
</div>
<div class="card">
  <img src="{{ properties.2.image.url }}" alt="Card 1" style="height:310px">
  <div class="description">
    <h2>{{ properties.2.area }} {{ properties.2.bedrooms }} Bedrooms {{ properties.2.propertyType }}</h2>
    <p>Bedrooms:{{ properties.2.bedrooms }}  Bathrooms:{{ properties.2.bathrooms }}  Area: {{ properties.2.size }} Sq.mt</p>
    <a href="#" class="btn">details</a>
  </div>
</div>
<div class="card">
  <img src="{{ properties.3.image.url }}" alt="Card 1" style="height:310px">
  <div class="description">
    <h2>{{ properties.3.area }} {{ properties.3.bedrooms }} Bedrooms {{ properties.3.propertyType }}</h2>
    <p>Bedrooms:{{ properties.3.bedrooms }}  Bathrooms:{{ properties.3.bathrooms }}  Area: {{ properties.3.size }} Sq.mt</p>
    <a href="#" class="btn">details</a>
  </div>
</div>
  </div>




  
  
</div>



  </div>
  
  <div class="section">
     
    <div class="section3">
      <h1 style="text-align: center;">Meet Our Salesperson</h1>
      <div class="card-container">
        <div class="card">
          <img src="{% static 'img/sp1.jpg' %}" alt="Card 1" >
          <div class="description">
            <h2>Yeabsera </h2>
            <p><a href="#">view profile</a></p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'img/sp6.jpg' %}" alt="Card 2" style="height:430px">
          <div class="description">
            <h2>Efrata</h2>
            <p><a href="#">view profile</a></p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'img/sp2.jpg' %}" alt="Card 3">
          <div class="description">
            <h2>Liya</h2>
            <p><a href="#">view profile</a></p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'img/sp5.jpg' %}" alt="Card 4" style="height:430px">
          <div class="description">
            <h2>Mohamed</h2>
            <p><a href="#">view profile</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-section opening-hours">
      <h1>Opening Hours</h1>
      <p>Monday - Friday: 8:00AM-5:00PM</p>
      <p>Saturday: 8:00AM-12:00PM</p>
    </div>
    <div class="footer-section address">
      <h1>Address</h1>
      <p>Behar Building, 9th floor, Africa Avenue,</p>
      <p>Addis Ababa, Ethiopia</p>
      <p>Tel: +251-114670669</p>
      <p>Fax: +251-114652154</p>
    </div>
    <div class="footer-section follow-us">
      <h1>Follow Us</h1>
      <div class="social-media-links">
        <ul>
        
          <a href="https://www.facebook.com/giftatofficial/"><img src="{% static 'img/FB.png' %}" alt="Facebook" style="height:28px"></a>    
          <a href="https://www.youtube.com/@GIFTBusinessGroup"><img src="{% static 'img/YOUTUBE.png' %}" alt="Youtube" style="height:22px"></a>   
          <a href="https://t.me/giftbusinessgroup"><img src="{% static 'img/TG.png' %}" alt="Telegram" style="height:22px"></a> 
          <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FGIFTBusinessG"><img src="{% static 'img/TW.png' %}" alt="Twitter" style="height:22px"></a> 
        
      </ul>
      </div>
    </div>
    
  </footer>
</body>
</html>