<!DOCTYPE html>
<html>
<head>
    <title>Maintenance Page</title>
</head>
<body>
    <h1>Maintenance Requests</h1>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Building Number</th>
                <th>Room Number</th>
                <th>Floor Number</th>
                <th>Type of Maintenance</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            {% for maintenance_request in maintenance_requests %}
            <tr>
                <td>{{ maintenance_request.email }}</td>
                <td>{{ maintenance_request.building_number }}</td>
                <td>{{ maintenance_request.room_number }}</td>
                <td>{{ maintenance_request.floor_number }}</td>
                <td>{{ maintenance_request.type_of_maintenance }}</td>
                <td>
                    {% if not maintenance_request.report %}
                    <a href="{% url 'complete_maintenance' maintenance_request.id %}">New Request</a>
                {% elif maintenance_request.report.staff_name %}
                    {{ maintenance_request.report.staff_name }}
                {% else %}
                    <a href="{% url 'in_progress' maintenance_request.id %}">In Progress</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>