{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/marketing_manager.css' %}">
    <style>
        .popup-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
        }
    
        .popup-content {
            background-color: #fff;
            padding: 20px;
            max-width: 800px; /* Adjust the maximum width as desired */
            width: 80%; /* Adjust the width as desired */
            max-height: 600px; /* Adjust the maximum height as desired */
            height: 80%; /* Adjust the height as desired */
            overflow: auto;
        }
    
        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    </style>
   
</head>
<body>

        <section id="menu">
            
           <div class="logo">
              <img src="{% static 'img/logo.png' %}" alt="">
              
           </div>

           <div class="items">
            
            <li><i class="fa fa-chart-pie-alt"></i><a href="#">Dashboard</a></li>

            <li><i class="fab fa-uikit"></i><a onclick="showWorkOrderPage()" href="#">maintenance request</a></li>
            <li><i class="fas fa-users"></i></i><a onclick="showCompletedWorksPage()" href="#">maintenance staffs</a></li>
    
            <li><i class="fa-solid fa-clipboard-list"></i><a onclick="showReportTable()" href="#">Completed Works</a></li>
    
            <li><i class="fa-solid fa-clipboard-list"></i><a onclick="financeReportTable()" href="#">Finance Report</a></li>
           
            <li><i class="fa-solid fa-comments"></i><a onclick="feedbackTable()" href="#">Feedback</a></li>
            <li><i class="fas fa-right-from-bracket"></i><a href="/">Logout</a></li>
           
            
           </div>
         
        </section>

        
      <section id="interface"> 
            <div class="navigation"> 
                <div class="n1">

                    <div>
                        <i id="menu-btn" class="fa-fa-bars"></i>
                    </div>


                   
               </div>
               
               {% if manager_profile %}
               <div class="profile">
                  
                <img src="{{manager_profile.img.url }}" alt="">
                <p style="font-size:13px">  &nbsp {{ manager_profile.first_name }} {{ manager_profile.last_name }}
                <br> &nbsp {{manager_profile.email }} </p>
              </div>
              {% endif %}
              
            </div>

            
        <h3 class="i-name"> 
            Dashboard
        </h3>
.
   
        

        <div class="board" id="work-order-board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Type</td>
                        <td>Property Adress</td>
                        <td>Service</td>
                        <td>Customer Info</td>
                        <td>Employee name</td>
                        <td>Status</td>

                        <td>Assign Employee</td>
                        
                    </tr>
                </thead>

                <tbody>
                    {% for x in all_info %}
                    {% if  x.status == 'pending' %}
                  <tr>

                    
                    <td class="people">
                        <img src="{{ x.property.image.url }}">
                        <div class="people-de">
                            <h5>{{x.property.propertyType}}</h5>
                            <p>id {{ x.property.id}}</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>{{ x.property.city}}</h5>
                        <p>{{ x.property.area}}</p>
                    </td>

                    <td class="people-des">
                        <h5>{{ x.service}}</h5>
                    </td>


                    <td class="people-des">
                            <h5>{{ x.registration.email}}</h5>
                            <p>{{ x.registration.first_name}} {{ x.registration.last_name}}</p>
                            <p>{{ x.registration.phone_number}}</p>
                    </td>

                    <td class="people-des">
                        <h5>{{ x.employee.email}}</h5>
                        <p>{{ x.employee.first_name}} {{ x.employee.last_name}}</p>
                        <p>{{ x.employee.phone_number}}</p>
                    </td>

                 
                    

                    <td class="active">
                        
                        <p>{{ x.status}}</p>                          
                       
                    </td>

                    <td class="role">
                        
                            <a href="{% url 'update_askmaintenance' askmaintenance_id=x.id %}">
                                Assign Employee
                            </a>
                        
                    </td>

                  </tr>
                  {% endif %}
                   {% endfor %}

                 
                 

                </tbody>

            </table>

        </div>


      
        
        <div class="board" id="completed-works-board" style="display: none;">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                       
                        <td>Role</td>
                        <td>phone number</td>
                        
                    </tr>
                </thead>

                <tbody>
                    {% for employee in employees %}
                    {% if employee.is_active %}
                    {% if employee.role == 'maintenance_staff/electrician' or employee.role == 'maintenance_staff/plumber' %}
                  <tr>

                    
                    <td class="people">
                        <img src="{{ employee.img.url }}">
                        <div class="people-de">
                            <h5>{{ employee.first_name }} {{ employee.last_name }}</h5>
                            <p>{{ employee.email }}</p>
                        </div>
                    </td>

                   

                 

                    <td class="role">
                        <p>{{ employee.role }}</p>
                    </td>

                    
                    <td>
                        <p>{{ employee.phone_number }}</p>
                    </td>
                  </tr>
                 

                  {% endif %}
                  {% endif %}

                   {% endfor %}

                   
                 

                </tbody>

            </table>

        </div>


        
        
        <div class="board" id="report-board" style="display: none;">          
            <table width="100%">
              <thead>
                  <tr>
                      <td>Type</td>
                      <td>Property Adress</td>
                      <td>Service</td>

                      <td>Customer Info</td>
                      <td>Employee name</td>
                      <td>Status</td>

                      
                      
                  </tr>
              </thead>

              <tbody>
                 
                  {% for x in all_info %}
                 
                  {% if  x.status == 'completed' %}
                 <tr>

                  
                  <td class="people">
                      <img src="{{ x.property.image.url }}">
                      <div class="people-de">
                          <h5>{{x.property.propertyType}}</h5>
                          <p>id {{ x.property.id}}</p>
                      </div>
                  </td>

                  <td class="people-des">
                      <h5>{{ x.property.city}}</h5>
                      <p>{{ x.property.area}}</p>
                  </td>

                  
                  <td class="people-des">
                      <h5>{{ x.service}}</h5>
                  </td>
                  <td class="people-des">
                          <h5>{{ x.registration.email}}</h5>
                          <p>{{ x.registration.first_name}} {{ x.registration.last_name}}</p>
                          <p>{{ x.registration.phone_number}}</p>
                  </td>

                  <td class="people-des">
                      <h5>{{ x.employee.email}}</h5>
                      <p>{{ x.employee.first_name}} {{ x.employee.last_name}}</p>
                      <p>{{ x.employee.phone_number}}</p>
                  </td>

               
                  

                  <td class="active">
                      
                      
                      <p>{{ x.status}}</p>    
                      
                     
                     
                  </td>

                 

                </tr>
                 {% endif %}
                 {% endfor %}

               
               

              </tbody>

          </table>

       </div>


       <div class="board" id="finance-report-board" style="display: none;">
        <table width="100%">
            <thead>
                <tr>
                    <td>Customer info </td>
                    <td>Amount price </td>
                    <td>Status</td>
                    <td>Date of purchase </td>
                    <td>Size  </td>
                    <td>Photo  </td>
                    <td>Detail  </td>
                    <td></td>
                </tr>
            </thead>
    
            <tbody>
                {% for finance_entry in finance_entries %}
             
    
              <tr>
    
                
                <td class="people">
                 
                    <div class="people-de">
                        <h5>{{ finance_entry.customer_name }}</h5>
                        <p>{{ finance_entry.customer_email }}</p>
                    </div>
                </td>
    
                <td class="people-des">
                        <h5>{{ finance_entry.price }}</h5>
                        <p> {{ finance_entry.remaining_amount }}</p>
                </td>
    
                <td class="active">
                    <p>{{ finance_entry.property.status }}</p>
                    
    
    
                </td>
    
                <td class="role">
                    <p>{{ finance_entry.date_of_purchase }}</p>
       
                </td>
                <td class="role">
            
              <P>{{ finance_entry.property.size }}</p>
            </td>
            <td class="people">
                <img src="{{ finance_entry.property.image.url }}">
                 </br>
                <p>id {{ finance_entry.property.id }}</p>
                <div class="people-de">
                   
                </div>
            </td>
            <td class="role">
              
                
                    <button class="detail-button" onclick="showDetails('{{ finance_entry.id }}')">Details</button>
        
            </td>
              </tr>
             
              {% endfor %}
            </tbody>
    
        </table>
    
       </div>

       <div class="board" id="feedback-board" style="display: none;">
        <table width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Subject</td>
                    <td>Messages</td>
                    
                </tr>
            </thead>

            <tbody>
                {% for x in feedback %}
              <tr>

                
                <td class="people">
                    
                    <div class="people-de">
                        <p>{{x.name}} {{x.last_name}}</p>
                      
                    </div>
                </td>

                <td class="people-des">
                        <p>{{ x.email}}</p>
                     
                </td>

                <td class="active">
                    <p>{{ x.subject}}</p>
                </td>

                <td class="role">
                    <p>
                        <p>{{ x.message}}</p> 
                    </p>
                </td>

              </tr>
               {% endfor %}

             
             

            </tbody>

        </table>

       </div>
    

        
       

       

      </section>

      <script>
        // Function to switch to the Maintenance Request board
        function showWorkOrderPage() {
            document.getElementById("work-order-board").style.display = "block";
            document.getElementById("completed-works-board").style.display = "none";
            document.getElementById("finance-report-board").style.display = "none";
            document.getElementById("feedback-board").style.display = "none";
            document.getElementById("report-board").style.display = "none";
        }
    
        // Function to show the Completed Works page and hide the Work Order page
        function showCompletedWorksPage() {
            document.getElementById("work-order-board").style.display = "none";
            document.getElementById("report-board").style.display = "none";
            document.getElementById("finance-report-board").style.display = "none";
            document.getElementById("feedback-board").style.display = "none";
            document.getElementById("completed-works-board").style.display = "block";
            
        }

        function showReportTable() {
            document.getElementById("work-order-board").style.display = "none";
            document.getElementById("completed-works-board").style.display = "none";
            document.getElementById("finance-report-board").style.display = "none";
            document.getElementById("feedback-board").style.display = "none";
            document.getElementById("report-board").style.display = "block";
        }

        function financeReportTable(){
            document.getElementById("work-order-board").style.display = "none";
            document.getElementById("completed-works-board").style.display = "none";
            document.getElementById("report-board").style.display = "none";
            document.getElementById("feedback-board").style.display = "none";
            document.getElementById("finance-report-board").style.display = "block";
        }

        function feedbackTable(){
            document.getElementById("work-order-board").style.display = "none";
            document.getElementById("completed-works-board").style.display = "none";
            document.getElementById("report-board").style.display = "none";
            document.getElementById("finance-report-board").style.display = "none";
            document.getElementById("feedback-board").style.display = "block";
        }
      </script>

  
</body>
</html>