{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Listing</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/property_listing.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

    <style>
    


.hide{
  display: none;
}

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <header class="header">
        <nav class="nav container">
           <div class="nav__data">
              
              <a href="/" class="nav__logo">
               <img src="{% static 'img/logo.png' %}" alt="logo" >
              </a>
              
              <div class="nav__toggle" id="nav-toggle">
                 <i class="ri-menu-line nav__burger"></i>
                 <i class="ri-close-line nav__close"></i>
              </div>

           </div>

           
           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li><a href="/" class="nav__link">Home</a></li>
                 <li><a href="{% url 'property_listing' email=email %}" class="nav__link">listing</a></li>
                 <li><a href="/salespersons" class="nav__link">salesperson</a></li>

                 <li><a href="{% url 'contact_us' %}" class="nav__link">feedback</a></li>
                 <li><a href="{% url 'about' %}" class="nav__link">About</a></li>
              

                  

                 
              </ul>
           </div>
        </nav>
    </header>

    <main>
     
        <div class="property">
            <div class="prop-h">
                <h1>Our<span>property</span></h1>  
            </div>

            <div class="de-box">
                {% for property in properties %}
                <div class="box {% if forloop.counter > 6 %}additional-properties hide{% endif %}">
                    
                    <div class="image">
                        <img src="{{ property.image.url }}" alt="">
                    </div>

                    <div class="price-name">
                        <h4>{{property.status}}</h4>
                        <div class="detail" >
                           <ul>
                           <li style=" list-style: none;"><img src="{% static 'img/icons8-bed-50.png' %}" alt=""> {{ property.bedrooms }} bed</li> 
                           <li ><img src="{% static 'img/icons8-bath-50.png' %}" alt="">{{ property.bathrooms }} bath</li>
                           <li><i class="fa-solid fa-landmark" style="color: #0a0a0a;font-size: 20px;margin-top: 5px;"></i> {{ property.size }} sq m</li>
                           </ul>
                        </div>
                    </div>

                    <div class="location-detail" style="text-align: center;">
                        <a href="{% url 'property_detail' property_id=property.id email=email %}" class="view-detail">View Detail</a>
                    </div>

                </div>
                {% endfor %}

           

            </div>

            <div class="explore">
              <a href="#" id="show-more-link">Explore all properties</a>
          </div>
        </div>
  
    </main>

    <footer class="footer">
      <div class="container">
          <div class="footer-content">
              <div class="footer-section">
                  <h3>Opening Hours</h3>
                  <p>Monday - Friday: 8:00AM-5:00PM</p>
                  <p>Saturday: 8:00AM-12:00PM</p>
              </div>
              <div class="footer-section">
                  <h3>Address</h3>
                  <p>Behar Building, 9th floor, Africa Avenue,</p>
                  <p>Addis Ababa, Ethiopia</p>
                  <p>Tel: +251-114670669</p>
                  <p>Fax: +251-114652154</p>
              </div>
              <div class="footer-section">
                  <h3>Follow Us</h3>
                  <div class="social-icons">
                      <a href="https://www.facebook.com/giftatofficial/"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FGIFTBusinessG"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.youtube.com/@GIFTBusinessGroup"><i class="fab fa-youtube"></i></a>
                      <a href="https://t.me/giftbusinessgroup"><i class="fab fa-telegram"></i></a>
                  </div>
              </div>
          </div>
          
      </div>
    </footer>


    <script >
       
        const showMenu = (toggleId, navId) =>{
           const toggle = document.getElementById(toggleId),
                 nav = document.getElementById(navId)
        
           toggle.addEventListener('click', () =>{
               
               nav.classList.toggle('show-menu')
        
              
               toggle.classList.toggle('show-icon')
           })
        }
        
        showMenu('nav-toggle','nav-menu')
    </script>

<script>
  const showMoreLink = document.getElementById('show-more-link');
  const additionalProperties = document.querySelectorAll('.additional-properties');

  showMoreLink.addEventListener('click', function(e) {
      e.preventDefault();
      additionalProperties.forEach(function(property) {
          property.classList.toggle('hide');
      });
  });
</script>


  
</body>
</html>
