<div style="display: flex;">
  <div style="flex-basis: 50%; padding-right: 20px;">
    <h3>Property Details</h3>
    <p><span>Property ID: </span>{{ application_obj.property.id }}</p>
    <p><span>Property Type: </span>{{ application_obj.property.propertyType }}</p>
    <p><span>Size: </span>{{ application_obj.property.size }} Sq mt</p>
    <p><span>Year Built: </span>{{ application_obj.property.year_built }}</p>
    <h3>Address</h3>
    <p><span>Country: </span>{{ application_obj.property.country }}</p>
    <p><span>City: </span>{{ application_obj.property.city }}</p>
    <p><span>Area: </span>{{ application_obj.property.area }}</p>
    <h3>Photo</h3>
    <p><span><img src="{{ application_obj.property.image.url }}" alt="" height="200px" width="200px"></p>

  </div>
  <div style="flex-basis: 50%; padding-left: 20px;">
    <h3>Customer Info</h3>
    <p>{{ application_obj.first_name }} {{ application_obj.middle_name }} {{ application_obj.last_name}} </p>
    <p>{{ application_obj.email }}</p>
    <p>{{ application_obj.phone_number }}</p>
    <p>{{ application_obj.city }}</p>
    <p>{{ application_obj.sub_city }}</p>
    <p>{{ application_obj.kebele }}</p>
    <p>{{ application_obj.work_status }}</p>
    <p>{{ application_obj.gender }}</p>
    <p>{{ application_obj.date_added }}</p>
  </div>
</div>