{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/salesperson.css' %}">

    
    <style>
        .navbar a.active {
          background-color: #c7c73a;
        }
    </style>
</head>

<body>
<div class="navbar">
    <a href="#home" class="logo"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
    <a href="/" class="home">Home</a>
    <a href="{% url 'property_listing' %}">Listing</a>
    <a href="/salespersons" class="active">Sales Person</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="#about">About</a>
    <a href="#help">Help</a>
    <a href="{% url 'registration' %}">Register</a>
    <a href="#login" class="login">Login</a>
</div>


<div class="salesperson-listings">
    {% for salesperson in salespersons %}
    <div class="salesperson-card">
        <div class="salesperson-image">
            <img src="{{ salesperson.img.url }}" alt="{{ salesperson.first_name }}">
        </div>
        <div class="salesperson-description">
            <h3>{{ salesperson.first_name }} {{ salesperson.last_name }}</h3>
            <p class="address">{{ salesperson.adress }}</p>
            <p>Mobile Phone: {{ salesperson.phone_number }}</p>
            <p>Email:{{ salesperson.email }}</p>
            <a href="{% url 'salesperson_profile' salesperson.id %}" class="profile-btn">view profile</a>
        </div>
    </div>
    {% endfor %}
    
</div>

<footer>
    <div class="footer-section opening-hours">
        <h1>Opening Hours</h1>
        <p>Monday - Friday: 8:00AM-5:00PM</p>
        <p>Saturday: 8:00AM-12:00PM</p>
    </div>
    <div class="footer-section address">
        <h1>Address</h1>
        <p>Behar Building, 9th floor, Africa Avenue,</p>
        <p>Addis Ababa, Ethiopia</p>
        <p>Tel: +251-114670669</p>
        <p>Fax: +251-114652154</p>
    </div>
    <div class="footer-section follow-us">
        <h1>Follow Us</h1>
        <div class="social-media-links">
            <ul>
                <a href="https://www.facebook.com/giftatofficial/"><img src="{% static 'img/FB.png' %}" alt="Facebook"
                                                                         style="height:28px"></a>
                <a href="https://www.youtube.com/@GIFTBusinessGroup"><img src="{% static 'img/YOUTUBE.png' %}"
                                                                           alt="Youtube" style="height:22px"></a>
                <a href="https://t.me/giftbusinessgroup"><img src="{% static 'img/TG.png' %}" alt="Telegram"
                                                               style="height:22px"></a>
                <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FGIFTBusinessG"><img
                            src="{% static 'img/TW.png' %}" alt="Twitter" style="height:22px"></a>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>