{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Marketing Manager Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/system_admin.css' %}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <header>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
            <span class="logo-name">Gift Real Estate</span>
        </div>

      <div class="profile">
        <img src="profile-photo.png" alt="Profile Photo">
        <div class="profile-info">
          <span class="name">John Doe</span>
          <span class="email">john.doe@example.com</span>
        </div>
      </div>
    </nav>
  </header>
  
  <div class="container">
    <aside class="sidebar">
        <div class="profile">
            <img src="profile-photo.png" alt="Profile Photo">
            <div class="profile-info">
              <span class="name">John Doe</span>
              <span class="email">john.doe@example.com</span>
            </div>
        </div>
      <ul>
        <li><a href="#" class="active"><i class="fa-solid fa-gauge" style="color: #ffffff;"></i> Dashboard</a></li>
        <li><a href="#"><i class="fa-solid fa-users" style="color: #ffffff;"></i> Employees</a></li>
        <li><a href="#"><i class="fa-solid fa-users" style="color: #ffffff;"></i> Customers</a></li>
        <li><a href="#"><i class="fa-solid fa-user-plus" style="color: #ffffff;"></i> Add Employees</a></li>
        <li><a href="#"><i class="fa-regular fa-address-card" style="color: #ffffff;"></i> About</a></li>
        <li><a href="#"><i class="fa-regular fa-user" style="color: #ffffff;"></i> Profile</a></li>
        <li><a href="#"><i class="fa-solid fa-lock" style="color: #ffffff;"></i>Change Password</a></li>
        <li><a href="#"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i> Logout</a></li>
      </ul>
    </aside>


    
    <div class="white-div">
      <h3>Employees</h3>
      <form class="search-form">
        <input type="text" placeholder="Search..." class="search-input">
        <button type="submit" class="search-btn">Search</button>
      </form>
      <table class="listing-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Role</th>
            <th>Status</th>
            <th>Photo</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Solemon Abebe</td>
                <td>sole@gmail.com</td>
                <td>Addise Ababa, Ethiopia</td>
                <td>Salesperson</td>
                <td><a href="#">Active</a></td>
                <td>Photo</td>
                <td><a href="#">View</a> <a href="#">Update</a></td>
              </tr>
          
          
        </tbody>
      </table>
      <button class="add-property-btn">Add Employees</button>
    </div>
  </div>
</body>
</html>